
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>

<!-- Register Section -->
<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>

<section class="register-section">

   <div class="auto-container">
      
       <div class="anim-icons full-width">
           <span class="icon icon-circle-3 wow zoomIn"></span>
       </div>
       <div class="outer-box">
           <div class="row no-gutters">
               <div class="title-column col-lg-4 col-md-6 col-sm-12">
                   <div class="inner">
                       <div class="sec-title light">
                           <div class="icon-box"><span class="icon flaticon-rocket-ship"></span></div>
                           <h2>Inschrijven</h2>
                           <div class="text">Schrijf jezelf hier in!</div><br><br>
                           <span class="icon fa fa-map-marker-alt" style="color: #ec167f"></span>
                           <ul class="info-list" >
                            <li style="color: white !important">10 juni 2020</li>
                            <li style="color: white !important">14.00 - 17.00 uur</li>
                        </ul>
                       </div>
                   </div>
               </div>
               <!--Register Form-->
               <div class="register-form col-lg-8 col-md-6 col-sm-12">
                  
                <div *ngIf="!cansendForm" class="form-inner">
                    <h2>Inschrijfformulier gesloten</h2>
                    <p>Helaas, onze maxium capaciteit is bereikt</p>


                </div>
                   <div [hidden]="!cansendForm" class="form-inner">
                       <br><br><br>
                       
                        <h2>Inschrijfformulier</h2>
                        <!-- <div class="alert alert-warning" role="alert">
                            Het Live Webinar “Opmars van AI in de Topzorg” op 20 maart a.s. wordt <b>verplaatst naar een latere datum.</b><br><br> Omdat het in het ETZ extra druk is door het coronavirus, willen we onze tijd en aandacht besteden aan directe patiëntenzorg. Daarnaast vermijden we dat veel mensen samen komen in één compacte ruimte en beperken we de risico's op verspreiding van het coronavirus zo veel mogelijk.<br><br> Een nieuwe datum wordt gecommuniceerd zodra die bekend is. De personen die zich hebben aangemeld, krijgen persoonlijk bericht.
                                                  </div> -->
                                                  <br><br><br>

                       <form>
                           
                           <div *ngIf="!formIsSend" class="form-group">
                               <span class="icon fa fa-user"></span>
                               <input [(ngModel)]="inputName" [ngModelOptions]="{standalone: true}" type="text" name="username" placeholder="Naam" required="">
                           </div>

                           <div *ngIf="!formIsSend" class="form-group">
                            <span class="icon fa fa-group"></span>
                            <input [(ngModel)]="inputOrg" [ngModelOptions]="{standalone: true}" type="text" name="functie" placeholder="Organisatie" required="">
                        </div>

                           <div *ngIf="!formIsSend" class="form-group">
                              <span class="icon fa fa-briefcase"></span>
                              <input [(ngModel)]="inputFunction" [ngModelOptions]="{standalone: true}" type="text" name="functie" placeholder="Functie" required="">
                          </div>

                           <div *ngIf="!formIsSend" class="form-group">
                               <span class="icon fa fa-envelope"></span>
                               <input [(ngModel)]="inputEmail" [ngModelOptions]="{standalone: true}" type="email" name="email" value="" placeholder="Email" required>
                           </div>


                           <div *ngIf="!formIsSend" style="padding-left:50px" class="custom-control form-control-lg custom-checkbox">
                            <input [(ngModel)]="inputAcc" [ngModelOptions]="{standalone: true}"  type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Verzoek tot accreditatiepunten</label><br>De <a href="https://www.knmg.nl/opleiding-herregistratie-carriere/aban/over-aban.htm" target="blanc">ABAN</a> (KNMG) accreditatie is momenteel aangevraagd.
                        </div><br>
                        <div *ngIf="!formIsSend && inputAcc == 1" class="form-group">
                            <span class="icon fa fa-briefcase"></span>
                            <input [(ngModel)]="inputBig" [ngModelOptions]="{standalone: true}" type="text" name="functie" placeholder="BIG nummer" required="">
                        </div><br><br>
                           <div style='padding:20px'>
                            <div *ngIf="formIsSend" class="alert alert-primary" role="alert">
                               Je bent ingeschreven! Bedankt en tot 10 juni.
                             </div>
                             <div [hidden]="!formIsSend" title="Zet in je agenda!" class="addeventatc">
                                Klik hier om in je agenda te zetten!
                                <span class="start">06/10/2020 13:00</span>
                                <span class="end">06/10/2020 17:00</span>
                                <span class="timezone">Europa/Netherlands</span>
                                <span class="title">Live Webinar: AI in de Topzorg</span>
                                <span class="description">Waarom, wanneer en hoe kunnen we met AI starten? </span>
                            </div>
                         </div>
                         <div *ngIf="errorOnSend" class="alert alert-warning" role="alert">
                            Niet alles ingevuld.
                          </div>
                           <div *ngIf="!formIsSend" class="form-group text-right">
                               <button (click)="sendFormNow()" type="submit" class="theme-btn btn-style-four"><span class="btn-title">Verstuur</span></button>
                           </div>
                       </form>
                   </div>
                   
               </div>
           </div>
       </div>
   </div>
</section>
<!--End Register Section -->