<!-- Register Section -->
<div class="container-fluid" style="height: 150px; background-color: #101130 !important;">
</div>

<section class="register-section">

  <div class="auto-container">

    <div class="anim-icons full-width">
      <span class="icon icon-circle-3 wow zoomIn"></span>
    </div>
    <div class="outer-box">
      <div class="row no-gutters">
        <div class="title-column col-lg-4 col-md-6 col-sm-12">
          <div class="inner">
            <div class="sec-title light">
              <div class="icon-box"><span class="icon flaticon-monitor"></span></div>
              <h2>Webinar</h2>
            </div>

          </div>
        </div>
        <!--Register Form-->
        <div class="register-form col-lg-8 col-md-6 col-sm-12">
          <div class="">
            <div class="container"><br><br>
              <h3 style="color: #1e1f36">Terugkijken</h3>
              <div class="text">
                <h5>Artificiële intelligentie in de topzorg</h5><br><br>

                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/uJkmQUwiXkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <br><br>

                <div class="container">
                    <h4>Verslag:</h4>
                <h2> Online Ai-symposium: aandacht voor kunstmatige intelligentie in STZ-ziekenhuizen</h2>
                <p><br /><strong>Ai - oftewel artifici&euml;le intelligentie - is een trend die niet meer te stoppen is in de zorg. Tijdens het op 10 juni gehouden webinar over &lsquo;Ai in de Topzorg&rsquo; schetsten diverse sprekers de mogelijkheden op dit gebied. Bekijk de film van het symposium of lees het beknopte verslag van enkele presentaties.</strong></p>
                <p><strong>Artifici&euml;le intelligentie: de volgende revolutie in de pathologie</strong><br /><strong>De eerste spreker tijdens het webinar &lsquo;Ai in de Topzorg&rsquo;, prof. dr. Paul van Diest, heeft hoge verwachtingen van Ai in de zorg. Van Diest is hoofd van de afdeling Pathologie bij het UMC Utrecht. Hij vertelde dat een menselijk oog gemakkelijk informatie kan missen, bijvoorbeeld door vermoeidheid, optische illusie of tijdsdruk. &ldquo;Dit gebeurt bij collega-pathologen binnen een laboratorium, maar uitslagen kunnen ook verschillen tussen laboratoria onderling. Meer digitalisering en toepassing van kunstmatige intelligentie is een oplossing hiervoor. Ai heeft een enorme potentie in de pathologie. Het maakt ons werk leuker en we kunnen sneller uitslagen leveren&rdquo;, zo trapte hij het symposium af. </strong></p>
                <p>&nbsp;</p>
                <h3>AI in de radiologie: onderzoek en praktijk</h3>
                <p>Dr. Marleen de Bruijne, werkzaam bij het Erasmus MC, vertelde dat artifici&euml;le intelligentie de radiologie veel kan brengen: &ldquo;Een recente ontwikkeling is bijvoorbeeld dat Ai diagnoses zelfstandig kan doen, zonder tussenkomst van een mens. Ook wordt Ai ingezet voor triage. Hierbij stelt Ai de diagnose niet zelf, de ct-scans worden eerst door mensen bekeken. Ai geeft aan in welke volgorde scans bekeken kunnen worden zodat urgente gevallen sneller herkend worden. Een voorbeeld hiervan is acuut hersenletsel. Ai heeft ongekende mogelijkheden. In de toekomst zouden we Ai ook kunnen leren om pati&euml;ntspecifieke voorspellingen te doen over het ziekteverloop en een gerichte behandeling&rdquo;, aldus De Bruijne. Ze benoemde ook enkele kanttekeningen tijdens haar presentatie. &ldquo;Het vereist ontzettend veel representatieve data om een Ai te trainen. Ook kunnen Ai systemen voor de gek gehouden worden. Hiervoor zijn nog technieken in ontwikkeling.&rdquo;</p>
                <h3><br />Het belang van opleiding en research in Ai voor de zorg</h3>
                <p>Dr. Sharon Ong is assistent professor Cognitieve Wetenschappen en Kunstmatige Intelligentie aan de universiteit van Tilburg. Zij werkt samen met verschillende artsen en onderzoekers in het ETZ. &ldquo;Het succesvol toepassen van Ai in een ziekenhuis vergt experts op dit gebied en vooral veel kennis van het domein. Vooral dat laatste is een uitdaging. Daarom is het fijn om in het programma We Care de praktijk van het ziekenhuis aan wetenschappelijk onderzoek van de universiteit te kunnen koppelen. Het ETZ is een STZ opleidingsziekenhuis, dus de opgedane kennis kan direct in de praktijk worden toegepast.&rdquo;</p>
                <p>Het We Care project heeft 2 thema&rsquo;s:</p>
                <ol>
                  <li>
                    <p>Samen beslissen: pati&euml;nten en specialisten werken samen in het beslissen over de behandeling;</p>
                  </li>
                  <li>
                    <p>Verzamelen van data: het omzetten van verzamelde data in bruikbare informatie. Gegevens worden verzameld met machine learning en deep learning.</p>
                  </li>
                </ol>
                <p>Voorbeelden van projecten worden toegelicht in de lezing van Erik Ranschaert.</p>
                <p>&nbsp;</p>
                <h3>Ai voor radiologie in het ETZ</h3>
                <p>Volgens initiatiefnemer van het webinar radioloog Erik Ranschaert ligt de toekomst van radiologie in de informatietechnologie. &ldquo;De rol van de diagnosticus gaat veranderen. Met Ai kunnen we ervoor zorgen dat we toegevoegde waarde blijven bieden aan pati&euml;nten en de medische wereld.&rdquo; Tijdens het webinar licht hij enkele onderzoeken uit het ETZ toe. Ranschaert is tevens gastprofessor aan de universiteit van Gent en voorzitter van de European Society of Medical Imaging Informatics (eusomii.org). Hij werkt sinds drie jaar in het Elisabeth-TweeSteden Ziekenhuis (ETZ) en zijn opdracht is om artifici&euml;le intelligentie (Ai) te implementeren in de radiologie van het ETZ.</p>
                <p>&nbsp;</p>
                <p><span style="text-decoration: underline;">Snellere diagnose corona-besmettingen</span><br />Het ETZ leidt een internationaal onderzoek naar het sneller opsporen van het coronavirus. Radioloog Erik Ranschaert wil artifici&euml;le intelligentie gebruiken om sneller vast te kunnen stellen of iemand het coronavirus heeft.</p>
                <p><span style="text-decoration: underline;">Ai in de radiologie van het ETZ <br /></span>Het beoordelen van scans door radiologen is arbeidsintensief en relatief foutgevoelig. Zo ook bij CT-scans die gemaakt worden van pati&euml;nten met de ziekte van Kahler. Dit is een zeldzame vorm van kanker in het beenmerg. Bij deze aandoening betreft het honderden beelden waarbij gemakkelijk iets gemist kan worden. Ranschaert: &ldquo;Als botafwijkingen door algoritmes automatisch herkend en gelokaliseerd kunnen worden, verbetert en versnelt dit de diagnostiek.&rdquo; De algoritmes die hiervoor nodig zijn, worden getraind op basis van de expertise van radiologen. In dit project werken de afdeling Cognitive Science and Artificial Intelligence van de Tilburg University, en de afdelingen radiologie en klinische fysica van het ETZ samen.</p>
                <p><span style="text-decoration: underline;">Algoritme thoraxfoto&rsquo;s zorgt voor nauwkeuriger oog</span><br />Het meest uitgevoerde radiologisch onderzoek in een ziekenhuis zijn thoraxfoto&rsquo;s. Het ETZ maakt er op jaarbasis 45.000, dat zijn elke dag 120 foto&rsquo;s van de borstkas. Routinewerk voor een radioloog dus, waarbij het maken van een fout op de loer ligt. Een algoritme dat in hoog tempo dag en nacht foto&rsquo;s analyseert, kan fouten vermijden en vergemakkelijkt het werk van de radioloog. &ldquo;Het algoritme maakt een verslag van foto&rsquo;s waarbij geen afwijkingen gevonden worden. Doordat de radioloog daarna ook naar dit verslag kijkt, geeft dat de bevestiging dat alles normaal is. Als het algoritme accuraat werkt, kunnen we het systematisch inzetten. Bijvoorbeeld op Cardiologie en de Spoedeisende Hulp&rdquo;, aldus Ranschaert.</p>
                <p><span style="text-decoration: underline;">Strokeviewer signaleert trombus binnen drie minuten</span><br />Tijdige en nauwkeurige triage van mensen die een beroerte gehad hebben. Dat is wat Strokeviewer kan. In no time analyseert het algoritme of het om een hersenbloeding of -infarct gaat en waar deze zich precies bevindt in het hoofd. Het algoritme stuurt de uitslag met de analyse meteen door. Op deze manier kunnen radiologen sneller dan nu beslissingen nemen en behandelen. Momenteel loopt een pilot in het ETZ om deze software te onderzoeken. Tien Nederlandse ziekenhuizen werken inmiddels met Strokeviewer.</p>
                <p><span style="text-decoration: underline;">Nauwkeurigere positie van pati&euml;nt</span><br />In het ETZ onderzoeken r&ouml;ntgenlaboranten de manier waarop thoraxfoto&rsquo;s gemaakt worden. Met kunstmatige intelligentie kan bepaald worden of de positie van de pati&euml;nt gecorrigeerd moet worden voor het maken van de foto. Ranschaert: &ldquo;De positie van de pati&euml;nt moet perfect zijn om goede foto&rsquo;s te maken. Het valt soms niet mee om een optimale foto te maken van de longen. Een goed getraind algoritme kan dit perfectioneren. Met als gevolg dat we meer kunnen zien op de foto.&rdquo;&nbsp;</p>
                <p>&nbsp;</p>
                <h3>AI, innovatie en gegevensbescherming in zorg: kansen en ontwikkelingen</h3>
                <p>Hoe zit het met het verzamelen van data en de AVG? Mr. Drs. Irith Kist is functionaris gegevensbescherming bij het Nederlands Kanker Instituut en het Antoni van Leeuwenhoek ziekenhuis. &ldquo;De AVG is per 25 mei 2018 van kracht geworden met als doel om door heel Europa een kader te schetsen waarbinnen iedereen moet werken. De verordening ziet toe op bescherming van persoonsgegevens, maar ook over vrij verkeer van goederen (in dit geval het delen van gegevens).</p>
                <p>De pati&euml;nt moet van tevoren ge&iuml;nformeerd worden over het gebruik van gegevens. De vraag is: wie is eigenaar van de data? De meningen hierover lopen uiteen. Maakt dat een pati&euml;nt zijn gegevens kan inzien dat hij eigenaar is van de data? Daarbij wordt voor onderzoek gebruik gemaakt van geanonimiseerde data. Geanonimiseerde of pseudo-geanonimiseerde gegevens zijn niet te herleiden naar een specifiek persoon, maar voor het verzamelen hiervan moet wel een rechtsgeldige grondslag voor zijn.&rdquo;</p>
                <p>Volgens Kist legt de AVG-wet beperkingen op, maar biedt zij ook genoeg kansen om samen te werken.</p>
                <p>&nbsp;</p>
                <h3>Waarom zouden ziekenhuizen in Ai investeren?</h3>
                <p>&ldquo;Dit is geen gemakkelijke vraag om te beantwoorden,&rdquo; begint prof. Dr. Mat Daemen, hoogleraar Pathologie en decaan onderzoek in het Amsterdam UMC zijn betoog. &ldquo;Ai heeft enorme potentie in de zorg. In ziekenhuizen is veel goede data voorhanden en er zijn veel experts die met deze data aan de slag kunnen. Daarnaast kunnen ziekenhuizen ook aantonen dat Ai toegevoegde waarde heeft.&rdquo;</p>
                <p>Maar wat zijn de uitdagingen? Daemen licht toe: &ldquo;De kwaliteit en het eigenaarschap van de data is een uitdaging. Ook de mogelijkheid om data uit te wisselen speelt mee. Ik zie een verschil in mindset en soms een kenniskloof tussen Ai-specialisten en artsen. En als laatste is daar het geld: wie betaalt de nieuwe toepassingen?&rdquo;</p>
                <p>In Amsterdam hebben verschillende organisaties een Memorandum of Understanding getekend. Ook de overheid heeft hier zitting in. &ldquo;Er zijn veel ethische, juridische, sociaal-wetenschappelijke vragen en er zijn veel aanbieders op de markt. Om duidelijkheid te scheppen in deze wirwar aan informatie, is samenwerking essentieel. We kunnen nog een grote slag maken als het gaat om kwaliteit, beschikbaarheid, uitwisseling en reproduceerbaarheid. We staan pas aan het begin van Ai, maar het heeft enorme potentie. Daarom is het van belang om nu in Ai te investeren.&rdquo;</p>
                <p>&nbsp;</p>

            </div>


              </div>
              <br>
              <!-- <div class="btn-box"><a  HREF="mailto:vakgroeprdl@etz.nl" class="theme-btn btn-style-one"><span class="btn-title">vakgroeprdl@etz.nl: stuur een mailtje</span></a></div> -->
            </div>

          </div>
          <!-- <div class="form-inner">
                       <form method="post" action="contact.html">
                           <div class="form-group">
                               <span class="icon fa fa-user"></span>
                               <input type="text" name="username" placeholder="Naam" required="">
                           </div>

                           <div class="form-group">
                               <span class="icon fa fa-envelope"></span>
                               <input type="email" name="email" value="" placeholder="Email" required>
                           </div>


                           <div class="form-group">
                               <span class="icon fa fa-edit"></span>
                               <textarea name="message" placeholder="Bericht"></textarea>
                           </div>

                           <div class="form-group text-right">
                               <button type="submit" class="theme-btn btn-style-four"><span class="btn-title">Verstuur</span></button>
                           </div>
                       </form>
                   </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Register Section -->
