<!-- Register Section -->
<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>

<section class="register-section">

   <div class="auto-container">
      
       <div class="anim-icons full-width">
           <span class="icon icon-circle-3 wow zoomIn"></span>
       </div>
       <div class="outer-box">
           <div class="row no-gutters">
               <div class="title-column col-lg-4 col-md-6 col-sm-12">
                   <div class="inner">
                       <div class="sec-title light">
                           <div class="icon-box"><span class="icon flaticon-monitor"></span></div>
                           <h2>Webinar</h2>
                        </div>

                   </div>
               </div>
               <!--Register Form-->
               <div class="register-form col-lg-8 col-md-6 col-sm-12">
                   <div class="">
                       <div class="container"><br><br>
                        <h3 style="color: #1e1f36">Terugkijken</h3>
                    <div class="text"><h5>Artificiële intelligentie in de topzorg</h5><br><br>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/uJkmQUwiXkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                        </div>

                    </div>
                    <br>
                    <!-- <div class="btn-box"><a  HREF="mailto:vakgroeprdl@etz.nl" class="theme-btn btn-style-one"><span class="btn-title">vakgroeprdl@etz.nl: stuur een mailtje</span></a></div> -->
                </div>
                 
            </div>
                   <!-- <div class="form-inner">
                       <form method="post" action="contact.html">
                           <div class="form-group">
                               <span class="icon fa fa-user"></span>
                               <input type="text" name="username" placeholder="Naam" required="">
                           </div>

                           <div class="form-group">
                               <span class="icon fa fa-envelope"></span>
                               <input type="email" name="email" value="" placeholder="Email" required>
                           </div>


                           <div class="form-group">
                               <span class="icon fa fa-edit"></span>
                               <textarea name="message" placeholder="Bericht"></textarea>
                           </div>

                           <div class="form-group text-right">
                               <button type="submit" class="theme-btn btn-style-four"><span class="btn-title">Verstuur</span></button>
                           </div>
                       </form>
                   </div> -->
               </div>
           </div>
       </div>
   </div>
</section>
<!--End Register Section -->