<!-- Register Section -->
<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>

<section class="register-section">

   <div class="auto-container">
      
       <div class="anim-icons full-width">
           <span class="icon icon-circle-3 wow zoomIn"></span>
       </div>
       <div class="outer-box">
           <div class="row no-gutters">
               <div class="title-column col-lg-4 col-md-6 col-sm-12">
                   <div class="inner">
                       <div class="sec-title light">
                           <div class="icon-box"><span class="icon flaticon-mail"></span></div>
                           <h2>Contact</h2>
                        </div>

                   </div>
               </div>
               <!--Register Form-->
               <div class="register-form col-lg-8 col-md-6 col-sm-12">
                   <div class="text-center">
                       <div class="container"><br><br>
                        FAQ Sectie volgt snel<br><br>
                    <div class="text">Heeft u een vraag?<br> Laat het ons weten en we proberen zo snel mogelijk te antwoorden.</div>

                    <br>
                    <div class="btn-box"><a  HREF="mailto:vakgroeprdl@etz.nl" class="theme-btn btn-style-one"><span class="btn-title">vakgroeprdl@etz.nl: stuur een mailtje</span></a></div>
                </div>
                    <h3>Locatie</h3>
                <span class="icon fa fa-map-marker-alt" style="color: #ec167f"></span>
                
                <ul class="info-list" >
                 <li style="color: black !important">20 maart 2020</li>
                 <li style="color: black !important">13.00 - 17.00 uur</li>
                 <li style="color: #eda51f !important">ETZ Elisabeth</li>
                 <li style="color: #eda51f !important">Aula, vergadercentrum route 73</li>
                 <li style="color: #eda51f !important">Hilvarenbeekseweg 60</li>
                 <li style="color: #eda51f !important">5022 GC Tilburg</li>
             </ul><br><br><br>
            </div>
                   <!-- <div class="form-inner">
                       <form method="post" action="contact.html">
                           <div class="form-group">
                               <span class="icon fa fa-user"></span>
                               <input type="text" name="username" placeholder="Naam" required="">
                           </div>

                           <div class="form-group">
                               <span class="icon fa fa-envelope"></span>
                               <input type="email" name="email" value="" placeholder="Email" required>
                           </div>


                           <div class="form-group">
                               <span class="icon fa fa-edit"></span>
                               <textarea name="message" placeholder="Bericht"></textarea>
                           </div>

                           <div class="form-group text-right">
                               <button type="submit" class="theme-btn btn-style-four"><span class="btn-title">Verstuur</span></button>
                           </div>
                       </form>
                   </div> -->
               </div>
           </div>
       </div>
   </div>
</section>
<!--End Register Section -->