<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>
<!-- schedule Section -->
<section class="schedule-section">
   <div class="anim-icons">
       <span class="icon icon-circle-4 wow zoomIn"></span>
       <span class="icon icon-circle-3 wow zoomIn"></span>
   </div>

   <div class="auto-container">
       <div class="sec-title text-center">
           <span class="title">Over conference</span>
           <h2>Programma</h2>
       </div>

       <div class="schedule-tabs tabs-box">
           <div class="btns-box">
               <!--Tabs Box-->
               <ul class="tab-buttons clearfix">
               
                   <li class="tab-btn">
                        <span class="date">20</span>
                       <span class="day">Maart</span>
                       <span class="month">2020</span>
                   </li>

                  

                 
               </ul>
           </div>

           <div class="tabs-content">

               <!--Tab-->
               <div class="tab active-tab" id="tab-1">
                   <div class="schedule-timeline">
                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">9.00 AM <br> 10.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">10.00 AM <br> 11.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">11.00 AM <br> 12.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">12.00 AM <br> 01.00 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!--Tab-->
               <div class="tab" id="tab-2">
                   <div class="schedule-timeline">
                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">9.00 AM <br> 10.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">10.00 AM <br> 11.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">11.00 AM <br> 12.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">12.00 AM <br> 01.00 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!--Tab-->
               <div class="tab" id="tab-3">
                   <div class="schedule-timeline">
                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">9.00 AM <br> 10.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">10.00 AM <br> 11.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">11.00 AM <br> 12.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">12.00 AM <br> 01.00 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!--Tab-->
               <div class="tab" id="tab-4">
                   <div class="schedule-timeline">
                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">9.00 AM <br> 10.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">10.00 AM <br> 11.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">11.00 AM <br> 12.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">12.00 AM <br> 01.00 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Ashli Scroggy</h5>
                                       <span class="designation">Founder & CEO</span>
                                   </div>
                                   <h4><a href="event-detail.html">Modern Marketing Summit Sydney 2018</a></h4>
                                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et</div>
                                   <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<!--End schedule Section -->