<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>
<!-- schedule Section -->
<section class="schedule-section">
   <div class="anim-icons">
       <span class="icon icon-circle-4 wow zoomIn"></span>
       <span class="icon icon-circle-3 wow zoomIn"></span>
   </div>

   <div class="auto-container">
       
       <div class="sec-title text-center">
        
           <h2>Programma</h2>
       </div>

       <div class="schedule-tabs tabs-box">
           <div class="btns-box">
               <!--Tabs Box-->
               <ul class="tab-buttons clearfix">
               
                   <li class="tab-btn">
                        <span class="date">20</span>
                       <span class="day">Maart</span>
                       <span class="month">2020</span>
                   </li>

                  

                 
               </ul>
           </div>
 
           <div class="tabs-content">

               <!--Tab-->
               <div class="tab active-tab" id="tab-1">
                   <div class="schedule-timeline">
                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">9.00 AM <br> 10.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Irith Kist</h5>
                                       <span class="designation">Functionaris Gegevensbescherming AVL - NKI</span>
                                   </div>
                                   <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4>
                                   <div class="text">Korte samenvatting</div>
                                   <!-- <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div> -->
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">10.00 AM <br> 11.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Prof. Wiro Niessen</h5>
                                       <span class="designation">...</span>
                                   </div>
                                   <h4><a href="event-detail.html">Hoe kunnen we computerwetenschap (AI) en zorg combineren?</a></h4>
                                   <div class="text">Korte samenvatting</div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">11.00 AM <br> 12.00 AM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">dr. Erik Ranschaert</h5>
                                       <span class="designation">radioloog ETZ, president EuSoMII</span>
                                   </div>
                                   <h4><a href="event-detail.html">AI voor radiologie in het ETZ</a></h4>
                                   <div class="text">Korte samenvatting</div>
                               </div>
                           </div>
                       </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">12.00 AM <br> 01.00 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Prof. Paul van Diest</h5>
                                       <span class="designation">UMCU</span>
                                   </div>
                                   <h4><a href="event-detail.html">De Patholoog krijgt hulp van AI</a></h4>
                                   <div class="text">Korte samenvatting</div>
                               </div>
                           </div>
                       </div>

                       <!-- schedule Block -->
                       <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">12.00 AM <br> 01.00 PM</div>
                                <div class="speaker-info">
                                    <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                    <h5 class="name">Prof. dr. Eric Postma</h5>
                                    <span class="designation">Tilburg School of Humanity and Digital Sciences </span>
                                </div>
                                <h4><a href="event-detail.html">Het belang van opleiding en research in AI voor de zorg</a></h4>
                                <div class="text">Korte samenvatting</div>
                            </div>
                        </div>
                    </div>

                    <!-- schedule Block -->
                    <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">12.00 AM <br> 01.00 PM</div>
                                <div class="speaker-info">
                                    <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                    <h5 class="name">Prof. dr. M.J. Daemen</h5>
                                    <span class="designation">UMC Amsterdam</span>
                                </div>
                                <h4><a href="event-detail.html">Waarom zouden ziekenhuizen in AI investeren?</a></h4>
                                <div class="text">Korte samenvatting</div>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>

           </div>
       </div>

       <div class="sec-title text-center">
        <span class="icon fa fa-map-marker-alt" style="color: #ec167f"></span>
        <ul class="info-list" >
         <li style="color: black !important">13.00 - 17.00 uur</li>
         <li style="color: #eda51f !important">ETZ Elisabeth</li>
         <li style="color: #eda51f !important">Aula, vergadercentrum route 73</li>
         <li style="color: #eda51f !important">Hilvarenbeekseweg 60</li>
         <li style="color: #eda51f !important">5022 GC Tilburg</li>
     </ul><br>           <div class="btn-box"><a routerLink="/inschrijven" class="theme-btn btn-style-two"><span class="btn-title">Schrijf je in!</span></a></div>
     <br>
         
       </div>
   </div>
</section>
<!--End schedule Section -->