<div class="container-fluid"  style="height: 150px; background-color: #101130 !important;">
</div>
<!-- schedule Section -->
<section class="schedule-section">
   <div class="anim-icons">
       <span class="icon icon-circle-4 wow zoomIn"></span>
       <span class="icon icon-circle-3 wow zoomIn"></span>
   </div>

   <div class="auto-container">
       
       <div class="sec-title text-center">
        
           <h2>Programma</h2><br>
       </div>

       <div class="alert alert-warning" role="alert">
        Gezien de huidige omstandigheden en maatregelen m.b.t. het coronavirus wordt woensdag 10 juni a.s. een live Webinar georganiseerd. <br><br> De deelnemers die zich al hadden ingeschreven zullen persoonlijk bericht ontvangen met de betreffende informatie. Heeft u ook interesse deel te nemen aan dit Webinar? Schrijft u zich dan snel in! Inschrijven kan tot en met maandag 8 juni.
                              </div><br><br><br>

       <div class="schedule-tabs tabs-box">
           <div class="btns-box">
               <!--Tabs Box-->
               <ul class="tab-buttons clearfix">
               
                   <li class="tab-btn">
                        <span class="date">10</span>
                       <span class="day">juni</span>
                       <span class="month">2020</span>
                   </li><br><br>
                   
                   
                    <div class="inner-box">
                        <div class="inner" style="background-color: white;">
                            <br>
                            <div class="date"><b>Dagvoorzitter</b></div>
                            <div class="speaker-info">
                                <!-- <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure> -->
                                <h5 class="name">Dr. Paul Algra</h5>
                                <span>Neuroradioloog, board member Eusomii, NoordWest Ziekenhuisgroep</span>

                                <figure class="thumb"><img src="assets/images/resource/thumb-8.jpg" class="rounded-circle" alt=""></figure>
                                <br>
                            </div>
                        </div>
                    </div>
                
                  

                 
               </ul>
           </div>
 
           <div class="tabs-content">

               <!--Tab-->
               <div class="tab active-tab" id="tab-1">
                   <div class="schedule-timeline">

                       <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">13.40 PM <br> 14.05 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
                                       <h5 class="name">Mw. Mr. Drs. Irith Kist</h5>
                                       <span class="designation">functionaris gegevensbescherming, NKI-AVL Amsterdam</span>
                                   </div>
                                   <h4><a>AI, innovatie en gegevensbescherming in zorg: kansen en ontwikkelingen</a></h4>
                                   <accordion [isAnimated]="true">
                                    <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                        Irith bespreekt het Europees en nationaal wetgevingskader en schetst de mogelijkheden voor AI in de zorg. Ze belicht enkele thema’s vanuit de beleving van de patiënt en legt puzzelstukjes aan elkaar vast waarin gegevensbescherming en AI hand in hand gaan.<br> Irith neemt de toehoorders tot slot mee in het debat over de grenzen heen. 

                                        <br><br>Kernpunten:
                                        
                                        <ul>
                                            <li style="list-style:disc !important;padding-left:10px">Het wetgevingskader en de mogelijkheden voor AI in de zorg</li>
                                            <li style="list-style:disc !important;padding-left:10px">Grenzen aan de controle over persoonsgegevens door de patiënten: bezien vanuit de patiënt en vanuit zijn rechten als betrokkene</li>
                                            <li style="list-style:disc !important;padding-left:10px">Een klein kijkje over de grenzen heen: een vergelijking met de VS, het VK en Nederland</li>
                                        </ul>
                                    </accordion-group>
                                  </accordion>
                                   <!-- <div class="btn-box">
                                       <a href="event-detail.html" class="theme-btn">Read More</a>
                                   </div> -->
                               </div>
                           </div>
                       </div>

                       <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">14.05 PM <br> 14.10 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                        <!-- schedule Block -->
                       <div class="schedule-block even">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">14.10 PM <br> 14.35 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-2.jpg" alt=""></figure>
                                       <h5 class="name">Dr Marleen de Bruijne</h5>
                                       <span class="designation">Erasmus MC</span>
                                   </div>
                                   <h4><a>...</a></h4>
                                   <accordion [isAnimated]="true">
                                    <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                        Wordt binnenkort aangevuld.
                                        <!-- In deze voordracht wordt uitgelegd dat er vele mogelijkheden zijn voor toepassing van AI in de pathologie.<br> Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek, waardoor behandeling van patienten verbetert. Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde.

                                        <br><br>Kernpunten:
                                        
                                        <ul>
                                            <li style="list-style:disc !important;padding-left:10px">Er zijn vele mogelijkheden voor toepassing van AI in de pathologie</li>
                                            <li style="list-style:disc !important;padding-left:10px">Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek waardoor behandeling van patienten verbetert</li>
                                            <li style="list-style:disc !important;padding-left:10px">Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde</li>
                                        </ul> -->
                                    </accordion-group>
                                  </accordion>
                               </div>
                           </div>
                       </div>

                       <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">14.35 PM <br> 14.40 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                     <!-- schedule Block -->
                     <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">14.40 PM <br> 15.05 PM</div>
                                <div class="speaker-info">
                                    <figure class="thumb"><img src="assets/images/resource/thumb-5.jpg" alt=""></figure>
                                    <h5 class="name">Dr. E. Ranschaert</h5>
                                    <span class="designation">Radioloog, ETZ Tilburg</span>
                                </div>
                                <h4><a>AI voor radiologie in het ETZ</a></h4>
                                <accordion [isAnimated]="true">
                                 <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                     De radiologie wordt geconfronteerd met een groeiend aantal mogelijkheden om AI-tools te integreren in de dagelijkse workflow. Deze tools richten zich momenteel grotendeels op geautomatiseerde beeldanalyse, echter de technologie is ook op andere onderdelen van de workflow inzetbaar.<br><br> Een overzicht wordt gegeven van de bestaande oplossingen en mogelijkheden, en besproken wordt welke infrastructuur en expertise daarvoor nodig is.

                                     <br><br>Kernpunten:
                                     
                                     <ul>
                                         <li style="list-style:disc !important;padding-left:10px">AI heeft meerdere toepassingsmogelijkheden voor radiologie, ook in het ETZ</li>
                                         <li style="list-style:disc !important;padding-left:10px">AI tools kunnen de radiologische workflow ondersteunen en verbeteren</li>
                                         <li style="list-style:disc !important;padding-left:10px">Interoperabiliteit van systemen en gebruik van standaarden zijn essentieel voor de implementatie van AI-tools</li>
                                         <li style="list-style:disc !important;padding-left:10px">Betrokkenheid van alle stakeholders is noodzakelijk</li>

                                     </ul>
                                 </accordion-group>
                               </accordion>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">15.05 PM <br> 15.10 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">15.10 PM <br> 15.30 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Pauze</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                      


                        

                        <!-- schedule Block -->
                       <div class="schedule-block">
                           <div class="inner-box">
                               <div class="inner">
                                   <div class="date">15.30 PM <br> 15.55 PM</div>
                                   <div class="speaker-info">
                                       <figure class="thumb"><img src="assets/images/resource/thumb-3.jpg" alt=""></figure>
                                       <h5 class="name">Prof. dr. P. van Diest</h5>
                                       <span class="designation">patholoog, hoofd afdeling pathologie UMC Utrecht</span>
                                   </div>
                                   <h4><a>Artificiele intelligentie: de volgende revolutie in de pathologie</a></h4>
                                   <accordion [isAnimated]="true">
                                    <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                        In deze voordracht wordt uitgelegd dat er vele mogelijkheden zijn voor toepassing van AI in de pathologie.<br> Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek, waardoor behandeling van patienten verbetert. Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde.

                                        <br><br>Kernpunten:
                                        
                                        <ul>
                                            <li style="list-style:disc !important;padding-left:10px">Er zijn vele mogelijkheden voor toepassing van AI in de pathologie</li>
                                            <li style="list-style:disc !important;padding-left:10px">Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek waardoor behandeling van patienten verbetert</li>
                                            <li style="list-style:disc !important;padding-left:10px">Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde</li>
                                        </ul>
                                    </accordion-group>
                                  </accordion>
                               </div>
                           </div>
                       </div>


                       <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">15.55 PM <br> 16.00 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                       <!-- schedule Block -->
                       <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">16.00 PM <br> 16.25 PM</div>
                                <div class="speaker-info">
                                    <figure class="thumb"><img src="assets/images/resource/thumb-4.jpg" alt=""></figure>
                                    <h5 class="name">Dr. Sharon Ong</h5>
                                    <span class="designation">Assistent-professor Cognitieve Wetenschappen en Kunstmatige Intelligentie aan de universiteit van Tilburg (TiU) </span>
                                </div>
                                <h4><a>The importance of education and research in AI for healthcare<br>(Het belang van opleiding en research in AI voor de zorg)</a></h4>
                                <accordion [isAnimated]="true">
                                    <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                        Wordt binnenkort aangevuld.
                                        <!-- In deze voordracht wordt uitgelegd dat er vele mogelijkheden zijn voor toepassing van AI in de pathologie.<br> Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek, waardoor behandeling van patienten verbetert. Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde.

                                        <br><br>Kernpunten:
                                        
                                        <ul>
                                            <li style="list-style:disc !important;padding-left:10px">Er zijn vele mogelijkheden voor toepassing van AI in de pathologie</li>
                                            <li style="list-style:disc !important;padding-left:10px">Deze verhogen de efficientie en kwaliteit van de pathologie diagnostiek waardoor behandeling van patienten verbetert</li>
                                            <li style="list-style:disc !important;padding-left:10px">Hiervoor is een volledig digitale diagnostiek workflow een voorwaarde</li>
                                        </ul> -->
                                    </accordion-group>
                                  </accordion>
                            </div>
                        </div>
                    </div>


                    <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">16.25 PM <br> 16.30 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- schedule Block -->
                    <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">16.30 AM <br> 16.55 PM</div>
                                <div class="speaker-info">
                                    <figure class="thumb"><img src="assets/images/resource/thumb-6.jpg" alt=""></figure>
                                    <h5 class="name">Prof. dr. M.J. Daemen</h5>
                                    <span class="designation">Hoogleraar Pathologie, vice decaan onderzoek Amsterdam UMC</span>
                                </div>
                                <h4><a href="event-detail.html">Waarom zouden ziekenhuizen in AI investeren?</a></h4>
                                <accordion [isAnimated]="true">
                                    <accordion-group heading="Klik hier voor inhoud over de presentatie">
                                        AI lijkt en is vast een hype, maar wel een die veel gezondheidsmedewerkers al gebruiken en steeds meer willen gebruiken. Bedrijven staan te trappelen om gebruik te maken van de gezondheidszorgdata en de overheid kijkt scherp mee.<br><br> Om dat samenspel goed te laten functioneren is regulatie en daarmee kennis en kunde nodig. Ook moet AI nog echt laten zien dat het de gezondheidszorg echt verbetert. Daarvoor zijn goede data en goed onderzoek nodig. En daarvoor zijn investeringen in de ontwikkeling en toepassing van AI nodig

                                        <br><br>Kernpunten:
                                        
                                        <ul>
                                            <li style="list-style:disc !important;padding-left:10px">AI is er al, ook in uw ziekenhuis</li>
                                            <li style="list-style:disc !important;padding-left:10px">AI  toepassingen vergen regulatie ook in uw ziekenhuis</li>
                                            <li style="list-style:disc !important;padding-left:10px">AI toepassingen moeten nog laten zien dat ze de patiëntenzorg  ook echt verbeteren</li>
                                        </ul>
                                    </accordion-group>
                                  </accordion>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-block">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">16.55 PM <br> 17.00 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Rondvraag</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="schedule-block even">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="date">17.00 PM</div>
                                <div class="speaker-info">
<!--                                     <figure class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></figure>
 -->                                    <h5 class="name">Afsluiting</h5>
                                    <!-- <span class="designation">Functionaris Gegevensbescherming AVL - NKI, Amsterdam</span> -->
                                </div>
                                <!-- <h4><a href="event-detail.html">Juridische aspecten, privacy & security </a></h4> -->
                                
                                <!-- <div class="btn-box">
                                    <a href="event-detail.html" class="theme-btn">Read More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                   </div>
               </div>

           </div>
       </div>

       <div class="sec-title text-center"><br><br>
        <div class="btn-box"><a routerLink="/inschrijven" class="theme-btn btn-style-two"><span class="btn-title">Schrijf je in!</span></a></div>
        <span class="icon fa fa-map-marker-alt" style="color: #ec167f"></span>
        <ul class="info-list" >
            <li style="color: black !important">10 juni 2020 2020</li>
         <li style="color: black !important">14.00 - 17.00 uur</li>
     </ul><br>           
     <br>
         
       </div>
   </div>
</section>
<!--End schedule Section -->