<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Live Webinar verplaatst naar latere datum</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><br><br>
        <div class="alert alert-warning" role="alert">
            Het Live Webinar “Opmars van AI in de Topzorg” op 20 maart a.s. wordt <b>verplaatst naar een latere datum.</b><br><br> Omdat het in het ETZ extra druk is door het coronavirus, willen we onze tijd en aandacht besteden aan directe patiëntenzorg. Daarnaast vermijden we dat veel mensen samen komen in één compacte ruimte en beperken we de risico's op verspreiding van het coronavirus zo veel mogelijk.<br><br> Een nieuwe datum wordt gecommuniceerd zodra die bekend is. De personen die zich hebben aangemeld, krijgen persoonlijk bericht.
                                  </div><br><br><br>
      </div>
    </div>
  </div>
</div>




<div class="page-wrapper">
 <!-- Preloader -->
  <!-- <div class="preloader"></div> -->
 <!-- Header span -->


  <!-- Main Header-->
  <header class="main-header">
    <div class="main-box">
      <div class="auto-container clearfix">
          <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="assets/images/logob.png" alt="" title=""></a></div>
            </div>
             
            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->      
                        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                           
                            <li class="dropdown"><a routerLink="/">Home</a>  
                            </li>
                            <li class="dropdown"><a routerLink="/programma">Programma</a>
                                
                            </li>
                            <li class="dropdown"><a routerLink="/download">Downloads</a>
                                
                            </li>
                            <li class="dropdown"><a routerLink="/contact">Vragen / Contact</a>
                                
                            </li>
                            <li class="dropdown"><div class="btn-box"><a routerLink="/inschrijven" class="theme-btn btn-style-one"><span class="btn-title">Inschrijfformulier</span></a></div>
                                
                            </li>
                                
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->

                
            </div>
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
        
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
            
            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!--End Main Header -->

    <router-outlet></router-outlet>
 	
 

 

  

  

  <!-- Main Footer -->
  <footer class="main-footer">
      <!--Widgets Section-->
      <div class="widgets-section">
          <div class="auto-container">
              <div class="row">
                  <!--Big Column-->
                  <div class="big-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="row">
                          <!--Footer Column-->
                          <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="footer-widget about-widget">
                                  <div class="logo">
                                    <img src="assets/images/logob.png" alt="" title="">
                                    <a href="https://etz.nl" target="_blanc"><img src="assets/images/logowhite.png" alt="" /></a>
                                    

                                  </div>
                                  <!-- <ul class="social-icon-one social-icon-colored">
                                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                      <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                  </ul> -->
                              </div>
                              
                          </div>
                          <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-12"><p>Sponsoren:</p> 
                            <a href="https://www.nico-lab.com/" target="_blanc"><img src="assets/logo.png" alt="" title=""></a>

                          </div>

                          <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-12"><br><br>
                            <a href="https://mxi.nl/" target="_blanc"><img src="assets/logo2.png" alt="" title=""></a>

                          </div>




                      </div>
                      
                  </div>
              </div>


          
          </div>
      </div>

      <!--Footer Bottom-->
      <div class="footer-bottom">                    
          <div class="auto-container">
              <div class="inner-container clearfix">
                  <div class="copyright-text">
                      <p>© Copyright 2020 AI - Gemaakt met ❤ door <a href="https://edease.nl" target="_blanc">EDease</a></p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- End Footer -->

</div>
<!--End pagewrapper-->


