








<div class="page-wrapper">
 <!-- Preloader -->
  <!-- <div class="preloader"></div> -->
 <!-- Header span -->


  <!-- Main Header-->
  <header class="main-header">
    <div class="main-box">
      <div class="auto-container clearfix">
          <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
            </div>
             
            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->      
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                           <!--  <li class="current dropdown"><a routerLink="/">Home</a>  
                            </li> -->
                            <li class="dropdown"><a routerLink="/">Home</a>  
                            </li>
                            <li class="dropdown"><a routerLink="/programma">Programma</a>
                                
                            </li>
                            <li class="dropdown"><a routerLink="/inschrijven">Inschrijfformulier</a>
                                
                            </li>
                            
                                
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->

                <!-- Outer box -->
                <div class="outer-box">
                    <!--Search Box-->
                    <!-- <div class="search-box-outer">
                        <div class="search-box-btn"><span class="flaticon-search"></span></div>
                    </div> -->

                    <!-- Button Box -->
                    <div class="btn-box">
                        <a routerLink="/contact" class="theme-btn btn-style-one"><span class="btn-title">Vragen / Contact</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
        
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
            
            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!--End Main Header -->

    <router-outlet></router-outlet>
 	
 

 

  

  

  <!-- Main Footer -->
  <footer class="main-footer">
      <!--Widgets Section-->
      <div class="widgets-section">
          <div class="auto-container">
              <div class="row">
                  <!--Big Column-->
                  <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                      <div class="row">
                          <!--Footer Column-->
                          <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                              <div class="footer-widget about-widget">
                                  <div class="logo">
                                      <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
                                  </div>
                                  <div class="text">
                                      <p>Infotekst.</p>           
                                  </div>
                                  <ul class="social-icon-one social-icon-colored">
                                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                      <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                  </ul>
                              </div>
                          </div>

                          <!--Footer Column-->
                          <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                              <div class="footer-widget useful-links">
                                  <h2 class="widget-title">Navigatie</h2>
                                  <ul class="user-links">
                                      <li><a routerLink="/">Home</a></li>
                                      <li><a routerLink="/programma">Programma</a></li>
                                      <li><a routerLink="/contact">Contact</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--Footer Bottom-->
      <div class="footer-bottom">                    
          <div class="auto-container">
              <div class="inner-container clearfix">
                  <div class="copyright-text">
                      <p>© Copyright 2020 AI - Made by <a href="https://edease.nl" target="_blanc">EDease</a></p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- End Footer -->

</div>
<!--End pagewrapper-->


