<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>

<ng-template #areusure>
  <!-- (click)="openSureModal(areusure,'deletecourse',row.id) -->
  <div class="modal-body text-center">
    <p>Je staat op het punt om deze inschrijving te verwijderen</p>
    <p>Weet je het zeker?</p>
    <button type="button" class="btn btn-default" (click)="sureModal('no')">Nee</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="sureModal('yes')">Ja</button>
  </div>
</ng-template>

<ng-template #adminmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Inloggen Admin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    
    <form class="">
      <!-- <div class="dropdown">
     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Organisatie
     </button> {{dropdownOrga}}
     <br><br>
     <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'EDease'" >EDease</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'DTS'">DTS</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'Zandbak'">Zandbak</button>
     </div>
    </div> -->
      <fieldset class="form-group has-danger">
        <label for="password" class="form-control-label">Wachtwoord:</label>
        <input [(ngModel)]="admPwd" [ngModelOptions]="{standalone: true}" type="password"
          class="form-control form-control-danger" id="password">
      </fieldset>




      <hr class="m-y-2" />

      <!-- <div class="form-check">
     <label class="form-check-label">
      <input type="checkbox" [(ngModel)]="keepLoggedIn" [ngModelOptions]="{standalone: true}" class="form-check-input"> Blijf ingelogd op dit apparaat
     </label>
    </div> -->
      <hr class="m-b-2" />
      <button (click)="adminLoginAttempt()" type="submit" class="btn btn-primary btn-lg">Login</button>

    </form>
    <div class="row">
      <div class="col-sm">

      </div>

      <div class="col-sm">

      </div>
    </div>
    <!-- /registration form-->
  </div>
</ng-template>





<ng-template #edituser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gebruiker bewerken</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    
    <form class="">
      <!-- <div class="dropdown">
     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Organisatie
     </button> {{dropdownOrga}}
     <br><br>
     <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'EDease'" >EDease</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'DTS'">DTS</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'Zandbak'">Zandbak</button>
     </div>
    </div> -->
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Naam:</label>
        <input [(ngModel)]="currentUserName" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>

      <fieldset class="form-group has-danger">
        <label  class="form-control-label">Email:</label>
        <input [(ngModel)]="currentUserEmail" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>

      <fieldset class="form-group has-danger">
        <label class="form-control-label">Organisatie:</label>
        <input [(ngModel)]="currentUserOrganisation" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>

      <fieldset class="form-group has-danger">
        <label class="form-control-label">Functie:</label>
        <input [(ngModel)]="currentUserFunction" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>

      <fieldset class="form-group has-danger">
        <label class="form-control-label">Accreditatie:</label>
        &nbsp;&nbsp;&nbsp; <input [(ngModel)]="currentUserAcc" [ngModelOptions]="{standalone: true}"  type="checkbox">
      </fieldset>




      <hr class="m-y-2" />

      <!-- <div class="form-check">
     <label class="form-check-label">
      <input type="checkbox" [(ngModel)]="keepLoggedIn" [ngModelOptions]="{standalone: true}" class="form-check-input"> Blijf ingelogd op dit apparaat
     </label>
    </div> -->
      <hr class="m-b-2" />
      <button (click)="editUser()" type="submit" class="btn btn-primary btn-lg">Werk bij</button> <i *ngIf="editCompleteCheck" style="padding-left:20px;color:green" class="fas fa-check"></i>

    </form>
    <div class="row">
      <div class="col-sm">

      </div>

      <div class="col-sm">

      </div>
    </div>
    <!-- /registration form-->
  </div>
</ng-template>



<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="height:100px">
   <a routerLink="/" class="navbar-brand col-sm-3 col-md-2 mr-0">Terug naar site</a>
   <ul class="navbar-nav px-3">
     <li class="nav-item text-nowrap">
       <a class="nav-link" style="cursor: pointer" *ngIf="!adminisLoggedIn" (click)='openModal(adminmodal)'>Log In</a>
<!--        <a class="nav-link" style="cursor: pointer" *ngIf="adminisLoggedIn" (click)='LogOut()'>Log Uit</a>
 -->     </li>
   </ul>
 </nav>
 <div *ngIf="!adminisLoggedIn"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
 <div *ngIf="adminisLoggedIn" class="container-fluid"><br><br><br><br>
   <div class="row">
     <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar"><br><br>
       <div class="sidebar-sticky" style="padding:20px">
         <p>v1.3 <br>
           <a href="https://edease.nl" target="_blank">EaseCMS</a><br>
           door
           <a href="https://edease.nl" target="_blank">EDease</a><br>
 
 
         </p>
       </div>
     </nav> -->
 
     <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
 
 
       <!-- Research -->
 
       <div
         class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         <h1>Admin</h1>
       </div>
 
       <tabset [justified]="true">
           
         <tab  heading="Gebruikers">
           <br>
           <h2 >Inschrijvingen</h2>
           <div class="btn-group float-right" role="group" aria-label="Basic example">
            <!--  <button type="button" class="btn btn-primary " style="border-radius: 10px"
               (click)="openLargeModal(adminmodal, 'newresearch', 0)"><i class="fa fa-plus" aria-hidden="true"></i>
               Bezoeker toevoegen</button> -->
           </div><br><br>

           <div class="col-sm-10" >
            Zoeken:<br>
           
            <input [(ngModel)]="searchName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('naam',$event)" placeholder="Naam">&nbsp;&nbsp;
       
            <input [(ngModel)]="searchEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('email',$event)" placeholder="email">
            
          </div><br>
          <button type="button" class="btn btn-primary"><a style="color:white" *ngIf="groupListUsers" csvLink [delimiter]="';'" [data]="groupListUsers">Download CSV van selectie</a></button>

          
<br><br>

           <ngx-datatable [scrollbarH]="true" class="material" [rows]="groupListUsers" [columns]="columns" [columnMode]="'force'"
             [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="300" [rowHeight]="'auto'">

             <ngx-datatable-column name="Checklist" prop="naam" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <div class="custom-control form-control-lg custom-checkbox">
                  <input type="checkbox">
              </div> -->
              <button  *ngIf="row['checklist'] == '1'" (click)="changeAttendace(row['id'], 0)" type="submit" class="btn btn-success btn-lg"><i class="fas fa-check"></i></button>
              <button  *ngIf="row['checklist'] == '0'" (click)="changeAttendace(row['id'], 1)" type="submit" class="btn btn-warning btn-lg"><i style="color:white" class="fas fa-times"></i></button> 


              </ng-template>
            </ngx-datatable-column>


             <ngx-datatable-column name="Naam" prop="naam" [sortable]="true">
 
               <ng-template let-column="column" let-sort="sortFn">
                 <span style="cursor:pointer">
                   {{column.name}}
                 </span>
               </ng-template>
 
               <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                 <div [innerHTML]="row['naam']"></div>
               </ng-template>
             </ngx-datatable-column>

             <ngx-datatable-column name="Org" prop="userid" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['organisatie']"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Functie" prop="functie" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['functie']"></div>
              </ng-template>
            </ngx-datatable-column>

            
            <ngx-datatable-column name="Email" prop="email" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['email']"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Accreditatie" prop="acc" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['acc']"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acties">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-primary"
                    style="border-top-left-radius: 10px;border-bottom-left-radius: 10px"
                    (click)="openUserEditModal(edituser ,row.id)">
                    <i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button type="button" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px"
                    class="btn btn-danger" (click)="openSureModal(areusure,row.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
              </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column name="Datum" prop="datee" [sortable]="true">
 
              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['datee']"></div>
              </ng-template>
            </ngx-datatable-column>
 
            
 
            
 
           </ngx-datatable>
 
         </tab>
         
       </tabset>
 
 
 
 
 
     </main>
   </div><br><br><br><br><br>
 </div>